/* design-system */

html {
  font-family: "Poppins", sans-serif;
}

h2 {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

h3 {
  width: calc(100% - 30px);
  margin-block: 1rem;
}

h3:not(:first-of-type) {
  border-top: 1px solid black;
  padding-top: 0.75rem;
}

section {
  margin-block: 1.5rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}

footer a:hover {
  color: #007bff;
}
footer a:hover  {
  transition: all 0.3s;
}

footer {
    border-top: 1px solid black;
}
footer svg {
    width: 24px;
    vertical-align: sub;
    margin-right: 8px;
}
footer a:hover svg {
    fill: #0056b3;
}
footer svg, footer a:hover svg {
    transition: all .3s;
}

/* Docs */

.nav {
  right: 5px;
  top: 10px;
}

.nav a:hover {
  color: #007bff;
}

.section {
  margin-bottom: 2rem;
}

.subsection {
  margin-bottom: 1rem;
}

.column {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  word-break: break-word;
}
.code {
  background-color: #282c34;
  color: #abb2bf;
  padding: 14px 55px 14px 14px;
  border-radius: 5px;
  margin-block: 15px;
}
ul.code {
  list-style: circle;
}
ul.code li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
span.tab {
  width: 30px;
  display: inline-block;
}
