///// Borders /////
/// border
.bordered { border: 1px solid black; }
/// radius
.rounded { border-radius: 50%; }
.rounded-none { border-radius: 0px; }
.rounded-auto { padding-inline: auto; }
.rounded-1 { border-radius: 0.25rem; }
.rounded-2 { border-radius: 0.5rem; }
.rounded-3 { border-radius: 0.75rem; }
.rounded-4 { border-radius: 1rem; }
.rounded-5 { border-radius: 1.25rem; }
.rounded-6 { border-radius: 1.5rem; }
.rounded-7 { border-radius: 1.75rem; }
.rounded-8 { border-radius: 2rem; }
.rounded-9 { border-radius: 2.25rem; }
.rounded-10 { border-radius: 2.5rem; }
.rounded-11 { border-radius: 2.75rem; }
.rounded-12 { border-radius: 3rem; }
