///// Borders /////
/// border
.bordered { border: 1px solid black; }
/// radius
.radius { border-radius: 50%; }
.radius-none { border-radius: 0px; }
.radius-auto { padding-inline: auto; }
.radius-1 { border-radius: 0.25rem; }
.radius-2 { border-radius: 0.5rem; }
.radius-3 { border-radius: 0.75rem; }
.radius-4 { border-radius: 1rem; }
.radius-5 { border-radius: 1.25rem; }
.radius-6 { border-radius: 1.5rem; }
.radius-7 { border-radius: 1.75rem; }
.radius-8 { border-radius: 2rem; }
.radius-9 { border-radius: 2.25rem; }
.radius-10 { border-radius: 2.5rem; }
.radius-11 { border-radius: 2.75rem; }
.radius-12 { border-radius: 3rem; }