///// Texts /////
/// text-aligns
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
/// font-sizes
.text-0 { font-size: 0; }
.text-1 { font-size: 0.625rem; }
.text-2 { font-size: 0.75rem; }
.text-3 { font-size: 0.875rem; }
.text-4 { font-size: 1rem; }
.text-5 { font-size: 1.25rem; }
.text-6 { font-size: 1.5rem; }
.text-7 { font-size: 1.75rem; }
.text-8 { font-size: 2rem; }
.text-9 { font-size: 2.25rem; }
.text-10 { font-size: 2.5rem; }
.text-11 { font-size: 2.75rem; }
.text-12 { font-size: 3rem; }
/// font-weights
.font-1 { font-weight: 100; }
.font-2 { font-weight: 200; }
.font-3 { font-weight: 300; }
.font-4 { font-weight: 400; }
.font-5 { font-weight: 500; }
.font-6 { font-weight: 600; }
.font-7 { font-weight: 700; }
.font-8 { font-weight: 800; }
.font-9 { font-weight: 900; }
/// text-transforms
.text-normal { text-transform: none; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

